* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

img {
    width: 100px;
    border-radius: 100%;
}

.foto {
    background-color: rgb(89, 183, 238);
    
}

h1,
h3 {
    color: rgb(133, 11, 7);
    padding: 10px 0;
}

main {
    height: 95vh;
    margin-left: 3rem;
}

.section {
    border: solid;
    margin: 10px;
    background-color: rgb(89, 183, 238);
    border-color: rgb(30, 9, 107);
}

.rodape {
    border: solid rgb(18, 0, 177);
    height: 5vh;
    margin: 10px;
    background-color: rgb(89, 183, 238);
    padding-top: 10px;
    text-align: center;
}

li {
    margin-left: 15px;
    color: aliceblue
}